body{
  margin: 0;
}
.nav {
  height: 44px;
  display: flex;
  justify-content: flex-end;
  background-image: url("/Podcast/images/logo.svg");
  background-repeat: no-repeat;
  background-position: 16px 10px;
}

#checkbox {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 19px;
  width: 18px;
  height: 12px;
  margin-right: 0px;
  cursor: pointer;
  opacity: 0;
  -webkit-touch-callout: none;
}
.contenedorLinea {
  position: absolute;
  right: 19px;
  top: 16px;
  width: 18px;
  height: 12px;
}

.linea {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  background: #060a24 100%;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.linea:first-child {
  transform-origin: 0% 0%;
}

.linea span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#checkbox:checked ~ .contenedorLinea > .linea {
  opacity: 1;
  transform: rotate(45deg) translate(0px, -6px);
  background: #060a24 100%;
}

#checkbox:checked ~ .contenedorLinea > .linea:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#checkbox:checked ~ .contenedorLinea > .linea:nth-last-child(2) {
  transform: rotate(-45deg) translate(2px, 3px);
}

.ham_menu {
  top: 200px;
  height: 220px;
  position: absolute;
  width: 100%;
  text-align: center;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.3s cubic-bezier(0.4, 0.07, 0.99, 0.91);
}

.ham_menu li {
  padding: 13px 0 10px 0;
  font-size: 1.6em;
}

#checkbox:checked ~ ul {
  transform: none;
}

.contenedor_ham_menu {
  position: absolute;
  background: blue;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  transition: all 0.6s;
  top: 45px;

  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li a {
      text-decoration: none;
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 28px;
      display: block;
      transition: all 200ms ease;
    }
  }
}

#checkbox:checked ~ .contenedor_ham_menu {
  margin: 0;
  max-height: 100vh;
  height: 224px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .nav {
    background-image: url("/Podcast/images/logo.svg");
    background-repeat: no-repeat;
    background-position: 16px 15px;
  }

  .contenedorLinea {
    display: none;
  }
  .hambutton {
    display: none;
  }

  .contenedor_ham_menu {
    top: 8px;
    height: 44px;
    width: 600px;
    background: none;
    ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-top: 22px;
        margin-left: 48px;
        &:nth-last-child(1) {
          margin-right: 50px;
        }
        a {
          text-decoration: none;
          font-family: "IBM Plex Mono", monospace;
          font-size: 16px;
          color: #060a24;
          letter-spacing: 0;
          line-height: 28px;
          transition: all 200ms ease;
          text-align: center;
        }
      }
    }
  }
}






@media (min-width: 1024px) {
  .nav {
    height: 80px;
    background-image: url("/Podcast/images/logo.svg");
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: 100px 22px;
  }

  .contenedorLinea {
    display: none;
  }
  .hambutton {
    display: none;
  }

  .contenedor_ham_menu {
    top: 8px;
    height: 44px;
    width: 600px;
    background: none;
    ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-top: 22px;
        margin-left: 48px;
        &:nth-last-child(1) {
          margin-right: 50px;
        }
        a {
          text-decoration: none;
          font-family: "IBM Plex Mono", monospace;
          font-size: 16px;
          color: #060a24;
          letter-spacing: 0;
          line-height: 28px;
          transition: all 200ms ease;
          text-align: center;
        }
      }
    }
  }
}
