
.intro {
    width: 320px;
    font-family: 'IBM Plex Sans';
    font-size: 36px;
    color:#060A24;
    letter-spacing: 0;
    line-height: 42px;
    display: grid;
    grid-template-columns: auto, auto, auto, auto;
    grid-template-areas: 
            "a a a a"
            ". b b .";

    .content{
      grid-area: a;
    }
    
    .conocemas {
      margin-bottom:24px;
      grid-area: b;    
      border: 0em;
      padding: 0em;
      font-family: 'IBM Plex Mono', monospace;      
      width: 288px;
      height: 48px;
      background-color: #00f3bb;
      
    }


  }
  .main_content{
    position: relative;    
    display:grid;
    //height: 1203.5px;
  }
  .episodio{
    
    padding-bottom: 100px;
    background: linear-gradient(#0000FF, #0000A3);
      grid-area: 1/1;
    .rectangle_background{      
      svg{
        width:100%;
      }
      .contenedor_episodios{
        
            //margin-bottom: 50px;
          h2{
            color: white;
            text-align: left;
            margin-left: 16px;
          }
          .episodio_spotify{
            margin-left:11px;
            width: 298px;
            height: 200px;
            
          }
      }
    }
  }

  .phoneImage{
    position: absolute;
    grid-area: 1/1;
    width: 300px;
    height: 519px;
    bottom: -420px;
   img{
    width: 300px;
    height: 519px;
    }
  }

  .rectangle_background_bottom{
    
    background: linear-gradient(#0000A3);
    height:32px;
    svg{
      width: 320px;

    }
  }

 .de_donde_venimos{
 .contenedor_imagenes{
    img{
   width: 320px;
   height: 243px;
}
 }
}

.separador{
height: 500px;

}

